@use "../../app/styles/mixins.scss" as *;
@use "../../app/styles/variables.scss";

.TableContents {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    gap: 16px;
    margin: 16px auto;
    width: 100%;
    max-width: 1000px;
    background-color: var(--light-grey);
    padding: 24px;

    &:first-child {
        margin-top: -16px;
        
        @include md {
            margin-top: 16px;
        }
    }

    @include md {
        grid-template-rows: max-content;
        grid-template-columns: 1fr 2fr;
        width: calc(100% - 64px);
        padding: 24px;
        gap: 32px;
        border-radius: 24px;
        margin: 16px auto;
    }

    h3 {
        > .title {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .english {
                font-size: var(--font-size) !important;
                line-height: 1;
                color: var(--dark-grey) !important;

                @include md {
                    font-size: var(--font-size-md) !important;
                }
            }

            .japanese {
                font-size: var(--font-size-sm) !important;
                color: var(--medium-grey) !important;
                line-height: 2;

                @include md {
                    font-size: var(--font-size);
                }
            }
        }
    }

    .Content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        height: 100%;

        @include md {
            border-left: 1px solid #ccc;
            padding-left: 16px;
            height: -webkit-fill-available;
        }

        .ContentItem {
            display: flex;
            align-items: center;
            gap: 12px;
            line-height: 24px;
            font-size: var(--font-size);

            .ContentItemNumber {
                font-weight: 500;
                font-size: var(--font-size-sm);
                color: var(--bi-dark-pink);
                flex-shrink: 0;
                width: 24px;
                height: 24px;
                background-color: var(--white);
                border-radius: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            a {
                color: var(--bi-dark-pink) !important;
                text-decoration: none !important;
                font-weight: 600;
                transition: var(--transi);

                &:hover {
                    color: var(--bi-indigo) !important;
                }
            }
        }
    }
}

