@use "../../app/styles/mixins.scss" as *;
@use "../../app/styles/variables.scss";

.RichText {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px auto;
    max-width: 1000px;

    padding: 0 24px;

    @include md {
        padding: 0 32px;
    }

    .Content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 16px;
        line-height: 28px;

        a {
            color: var(--bi-dark-pink) !important;
            text-decoration: none !important;
            border-bottom: 1px solid;
            font-weight: 500;

            &:hover {
                color: var(--bi-indigo) !important;
            }
        }

        ul {
            margin-block: 0;
            list-style-type: none;

            li:before {
                content: "・";
                color: var(--bi-dark-pink);
                font-weight: 600;
                margin-right: 4px;
            }
        }
    }
}