@use "../../app/styles/mixins.scss" as *;
@use "../../app/styles/variables.scss";

.ImageSlice {
    width: 100%;
    padding: 0 24px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    margin: 16px auto;

    @include md {
        margin: 24px auto;
        padding: 0 32px;
    }

    > .ImageContainer {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 24px;
        overflow: hidden;
        margin: auto;

        &.FullWidth {
            width: 100%;
            border-radius: 24px;
            height: auto;
            padding: 0 !important;
            overflow: hidden;
    
            @include md {
                padding: 0 32px;
            }
        }

        > div {
            border-radius: 24px;
            overflow: hidden;
        }
    
        .Image {
            height: auto;
            border-radius: 24px;
            overflow: hidden;
            margin: auto;

            &.FullWidth {
                width: 100%;
                border-radius: 24px;
                overflow: hidden;
            }
        }
    }

    .Caption {
        width: 100%;
        font-size: 14px;
        text-align: center;
        color: var(--medium-grey);
    }
}