@use "../styles/mixins.scss" as *;
@use "../styles/variables.scss";

.container {
    display: block;
    width: -webkit-fill-available;
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
    padding: 32px 0;

    > h1 {
        margin: auto;
        padding: 0 24px;

        @include md {
            padding: 0 32px;
        }
    }
    
    .pageContent {
        display: block;
        background-color: white;
        margin: 24px 0 0 0;

        section {
            max-width: unset !important;
        }
    }
}