@use "../styles/mixins.scss" as *;
@use "../styles/variables.scss";

.artistProfile {
    display: none;
    padding: 16px;
    border: 1px solid var(--light-grey);
    background-color: var(--light-grey);
    border-radius: 16px;
    min-width: 400px;
    max-width: 400px;
    height: fit-content;

    @include md {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    > div:first-of-type {
        width: 100%;
        height: auto;
        border-radius: 8px !important;
        overflow: hidden;
        margin-bottom: 8px;

        img {
            border-radius: 8px !important;
            overflow: hidden;
            transform: scale(100%);
            transition: var(--transi);
            object-fit: cover;
            transform-origin: center;
        }

        &:hover img {
            transform: scale(110%);
        }
    }

    .profileContent { 
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 8px;

        .profileName {
            display: flex;
            flex-direction: column;
            gap: 0px;
            margin-bottom: 8px;

            h2, h3 {
                font-family: var(--font-text);
                margin: 0;
                padding: 0;
                font-weight: 600;
            }
            h2 {
                font-size: 20px;
                line-height: 32px;
                color: var(--dark-grey);
            }
            h3 {
                font-size: 14px;
                font-weight: normal;
                line-height: 28px;
                color: var(--medium-grey);
            }
        }

        > span {
            margin: 4px 0;
            font-size: 14px;
            line-height: 21px;
        }

        .description {
            margin: 8px 0;
            flex: 1;
            font-size: 14px;
            line-height: 24px;
        }

        .social {
            margin-top: 16px;
            display: flex;
            flex-direction: row;
            gap: 16px;

            a {
                color: var(--bi-dark-pink);
                font-size: 16px;
                transition: var(--transi);

                &:hover {
                    color: var(--bi-indigo);
                }

                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }

    }
}
  
  