
.Breadcrumbs {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 8px;

    color: var(--dark-grey);

    &.white {
        color: white;
        
        a {
            color: white;

            &:not(.active):hover {
                color: var(--light-grey);
            }

            &.active {
                color: white;
            }
        }
    }

    a {
        text-decoration: none;
        font-weight: 600;
        color: var(--bi-pink);
        transition: var(--transi);

        &:not(.active):hover {
            color: var(--bi-indigo);
        }

        &.active {
            font-weight: 400;
            color: var(--medium-grey);
        }

        &:last-of-type {
            max-width: -webkit-fill-available;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
        }
    }
}