@use "../styles/mixins.scss" as *;
@use "../styles/variables.scss";

.Carousel {
    display: block;
    --swiper-theme-color: var(--bi-pink);
    border-radius: 24px;
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;

    .Slide {
        width: 100%;
        height: 100%;
        aspect-ratio: 3/2;
        border-radius: 24px;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .ViewItem {
            transition: var(--transi);
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
            top: 16px;
            right: 16px;
            
            span {
                transition: var(--transi);
                display: flex;
                width: 32px;
                height: 32px;
                font-size: 16px;
                border-radius: 50%;
                align-items: center;
                text-align: center;
                justify-content: center;
                justify-items: center;
                color: var(--bi-dark-pink);
                background-color: var(--white);
                transform: scale(100%);
                transform-origin: center;
            }

            &:hover {
                cursor: pointer;
                
                span {
                    transform: scale(110%);
                    color: var(--white);
                    background-color: var(--bi-pink);
                }
            }
        }
    }

    .swiper-wrapper {
        width: 100% !important;
        border-radius: 24px !important;
        overflow: hidden;
    }

}