@use "../styles/mixins.scss" as *;
@use "../styles/variables.scss";

.Discoveries {
    position: relative;
    z-index: 4;

    display: flex;
    flex-direction: column;
    gap: 12px;

    background-color: var(--light-grey);
    padding: 24px 0;
    width: 100%;
    overflow: hidden;

    @include md {
        border-radius: 24px;
    }

    h2 {
        padding: 0 24px 4px 24px;
    }

    .DiscoveriesFooter {
        padding: 0 24px;
    }

    .DiscoveriesScroll {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 12px;

        &::-webkit-scrollbar {
            appearance: none;
            width: 100%;
            height: 8px;
        }
        
        &::-webkit-scrollbar-thumb {
            background: var(--bi-gradient-1);
            border-radius: 8px;
            border: 2px var(--light-grey) solid;
        }
        &::-webkit-scrollbar-track {
            border: 2px var(--light-grey) solid;
            background-color: white;
        }
        &::-webkit-scrollbar-button {
            width: 12px;
            display: block;
            background-color: var(--light-grey);
        }

        .DiscoveriesContainer {
            display: flex;
            flex-direction: row;
            gap: 24px;
            width: fit-content;

            .DiscoveryPost {
                display: flex;
                width: 280px;
                max-width: 280px;
                height: 320px;
                position: relative;
                border-radius: 16px;
                overflow: hidden;

                &:first-of-type {
                    margin-left: 24px;
                }
                &:last-of-type {
                    margin-right: 24px;
                }

                .FeaturedImage {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                    border-radius: 16px;
                    overflow: hidden;

                    div {
                        width: 100%;
                        height: 100%;
                        border-radius: 16px;
                        overflow: hidden;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .Content {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 2;
                    padding: 24px 16px;
                    justify-content: flex-end;
                    text-align: left;
                    color: white;

                    background-image: linear-gradient(to top, rgba(29, 29, 29, 0.6), rgba(29, 29, 29, 0.2));

                    .Tags {
                        width: 100%;
                        display: flex;
                        gap: 8px;
            
                        > .Tag {
                            display: inline-block;
                            padding: 4px 8px;
                            border-radius: 4px;
            
                            color: var(--white);
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size: var(--font-size-sm);
                            letter-spacing: 0.5px;
                        
                            &:nth-child(odd) {
                                background-color: var(--bi-indigo);
                            }
                            &:nth-child(even) {
                                background-color: var(--bi-dark-pink);
                            }
                            &:empty { display: none; }
                        }
                    }


                    .Title { 
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;
                        text-align: left;

                        > h3 {
                            display: inline-block;
                            width: fit-content;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 32px;
                            margin: 0;
                            color: white;
                            transition: var(--transi);
        
                            > .icon {
                                display: inline-flex;
                                align-items: center;
                                margin-left: 4px;
                                width: 16px;
                                height: 16px;
                                position: relative;
                                overflow: hidden;
        
                                > svg {
                                    position: relative;
                                    top: 2px;
                                    left: -24px;
                                    opacity: 0;
                                    transition: var(--transi);
                                }
                            }
                    
                        }

                    }
                }

                &:hover {
                    .FeaturedImage {
                        > div > img {
                            transform: scale(105%);
                        }
                    }
                    
                    > .Content {
                        h3 {
                            > .icon svg {
                                left: 0px;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}