@use "../styles/mixins.scss" as *;
@use "../styles/variables.scss";

.Gallery {
    display: flex;
    gap: 0px;

    .GalleryItem {
        position: relative;

        &:hover {
            cursor: pointer;

            .ViewItem {
                opacity: 1;

                span {
                    transform: scale(100%);
                }
            }
        }

        img {
            border-radius: 16px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: var(--transi);
        }

        &.Loading {
            img {
                opacity: 0;
            }
        }
    
        &.Loaded {
            img {
                opacity: 1;
            }
        }

        .ViewItem {
            opacity: 0;
            transition: var(--transi);

            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 4px);
            border-radius: 16px;
            background-color: rgba(0,0,0,0.3);
            
            span {
                transform: scale(0%);
                transform-origin: center;
                transition: var(--transi);

                display: flex;
                width: 32px;
                height: 32px;
                font-size: 16px;
                border-radius: 50%;
                align-items: center;
                text-align: center;
                justify-content: center;
                justify-items: center;
                color: white;
                background-color: var(--bi-pink);
            }
        }
    }
}