@use "../styles/mixins.scss" as *;
@use "../styles/variables.scss";

.LatestPosts {
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include md {
        display: grid;
        grid-template-columns: auto minmax(320px, 33%);
        grid-gap: 24px;
    }

    > .OtherPosts {
        position: relative;
        top: 70vh;
        z-index: 2;
        padding: 24px 24px;
        background-color: var(--white);
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: -webkit-fill-available;

        @include md {
            background-color: var(--light-grey);
            top: 0;
            height: -webkit-fill-available;
        }

        h2 {
            margin: 0;

            span {
                @include md {
                    font-size: 32px;
                    line-height: 48px;
                }
            }
        }

        .btn {
            > button {
                width: 100%;
            }
        }

        > a.OtherPost {
            cursor: pointer;
            color: var(--dark-gray);
            display: grid;
            grid-gap: 16px;
            grid-template-columns: minmax(0%, 112px) auto;

            @include md {
                grid-template-columns: 33% auto;
            }

            .FeaturedImage {
                width: 100%;
                max-width: 112px;
                aspect-ratio: 1;
                overflow: hidden;
                border-radius: 16px;

                @include md {
                    max-width: unset;
                }

                > div > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transform: scale(100%);
                    transition: all ease 0.3s;
                }
            }

            > .Content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                text-align: left;

                .Tags {
                    display: flex;
                    gap: 8px;
        
                    > .Tag {
                        display: inline-block;
                        padding: 4px 8px;
                        border-radius: 4px;
        
                        color: var(--white);
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: var(--font-size-sm);
                        letter-spacing: 0.5px;
                    
                        &:nth-child(odd) {
                            background-color: var(--bi-indigo);
                        }
                        &:nth-child(even) {
                            background-color: var(--bi-dark-pink);
                        }
                        &:empty { display: none; }
                    }
                }

                .Title { 
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    text-align: left;

                    > h3 {
                        display: inline-block;
                        width: fit-content;
                        font-size: 16px;
                        line-height: 24px;
                        margin: 0;
                        color: var(--dark-gray);
                        transition: var(--transi);
    
                        > .icon {
                            display: inline-flex;
                            align-items: center;
                            margin-left: 4px;
                            width: 16px;
                            height: 16px;
                            position: relative;
                            overflow: hidden;
    
                            > svg {
                                position: relative;
                                top: 2px;
                                left: -24px;
                                opacity: 0;
                                transition: var(--transi);
                            }
                        }
                
                    }

                }
            }

            &:hover {
                .FeaturedImage {
                    > div > img {
                        transform: scale(105%);
                    }
                }
                
                > .Content {
                    h3 {
                        color: var(--bi-dark-pink);
                        > .icon svg {
                            left: 0px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}