@use "../styles/mixins.scss" as *;
@use "../styles/variables.scss";

.MemberList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px 24px;

    @include md {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 48px 32px;
    }

    @include lg {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 48px 32px;
    }

    .MemberCard {
        display: flex;
        flex-direction: column;
        gap: 4px;
        background-color: white;

        @include md {
            gap: 8px;
        }

        .ProfilePicture {
            border-radius: 16px;
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: var(--transi);
                transform: scale(100%);
            }

            &:hover img {
                transform: scale(106%);
            }
        }

        h3 {
            font-weight: 600;
            margin-top: 4px;
            font-size: 20px;

            @include md {
                margin-top: 8px;
                font-size: 24px;
            }
        }

        span {
            font-size: 14px;
            font-weight: 600;

            @include md {
                font-size: 16px;
            }
        }

        .Description {
            font-size: 14px;
            line-height: 24px;
            flex-grow: 1;
        }

        .SocialLinks {
            margin-top: 16px;
            display: flex;
            flex-direction: row;
            gap: 8px;

            a {
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: var(--light-grey);
                color: var(--bi-dark-pink);
                transition: var(--transi);

                &:hover {
                    color: var(--bi-indigo);
                }
            }
        }
    }
}