@use "../styles/mixins.scss" as *;
@use "../styles/variables.scss";

.SingleImageContainer {
    width: 100%;
    height: 100%;
    max-width: 100%;
    
    .SingleImage {
        width: 100%;
        height: 100%;
        margin: auto;
        transition: var(--transi);
    }

    &.Loading {
        .SingleImage {
            opacity: 0;
            max-width: 100%;
            height: auto;
        }
    }

    &.Loaded {
        .SingleImage {
            opacity: 1;
            max-width: 100%;
            height: auto;
        }
    }

    .Placeholder {
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 16px;
        min-height: 240px;
    }
}