@use "../styles/mixins.scss" as *;
@use "../styles/variables.scss";

.SingleImageContainer {
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: relative;
    
    .SingleImage {
        width: 100%;
        height: 100%;
        margin: auto;
        transition: var(--transi);
    }

    &.Loading {
        .SingleImage {
            opacity: 0;
            max-width: 100%;
            height: auto;
        }
    }

    &.Loaded {
        .SingleImage {
            opacity: 1;
            max-width: 100%;
            display: block;
            height: auto;
            max-height: 100%;
            overflow: visible;
            aspect-ratio: auto !important;
            overflow-clip-margin: unset;
        }
    }

    .Placeholder {
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 16px;
        min-height: 240px;
    }

    .ViewItem {
        transition: var(--transi);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        top: 16px;
        right: 16px;
        
        span {
            transition: var(--transi);
            display: flex;
            width: 32px;
            height: 32px;
            font-size: 16px;
            border-radius: 50%;
            align-items: center;
            text-align: center;
            justify-content: center;
            justify-items: center;
            color: var(--bi-dark-pink);
            background-color: var(--white);
            transform: scale(100%);
            transform-origin: center;
        }

        &:hover {
            cursor: pointer;
            
            span {
                transform: scale(110%);
                color: var(--white);
                background-color: var(--bi-pink);
            }
        }
    }
}