@use "../styles/mixins.scss" as *;
@use "../styles/variables.scss";

.Video_Container {
    display: block;

    .Video {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        border-radius: 24px;

        iframe {
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
            border-radius: 24px;
        }
    }
}