:root {
  --font-jp: "Noto Sans JP";
  --font-text: "DM Sans", var(--font-jp), Helvetica, Arial, sans-serif;
  --font-title: "Poppins", var(--font-jp), Helvetica, Arial, sans-serif;
  --font-text-serif: "DM Serif Display", var(--font-jp), Times New Roman, serif;

  --bi-dark-pink: #FF3194;
  --bi-pink: #FF61A9;
  --bi-light-pink: #FC8DC5;
  --bi-indigo: #7272FC;
  --dark-grey: #333;
  --medium-grey: #898989;
  --light-grey: #f4f4f4;
  --white: #ffffff;

  --bi-gradient-1: linear-gradient(to right, var(--bi-dark-pink), var(--bi-light-pink), var(--bi-dark-pink));
  --bi-gradient-2: linear-gradient(45deg, var(--bi-dark-pink), var(--bi-indigo));

  --transi: all 0.3s ease;

  --font-size-4xl: 48px;
  --font-size-3xl: 40px;
  --font-size-2xl: 32px;
  --font-size-xl: 24px;
  --font-size-lg: 20px;
  --font-size-md: 16px;
  --font-size: 14px;
  --font-size-sm: 12px;
  --font-size-xs: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::selection {
  color: white;
  background-color: var(--bi-pink);
}

html, body {
  font-family: var(--font-text);
  font-size: var(--font-size);
  background-color: white;
  color: var(--dark-grey);
}

.overflowHidden {
  overflow: hidden !important;
}

.global {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  margin: auto;
}

h1 {
  font-family: var(--font-title);
  font-size: 32px;
  line-height: 40px;
  color: var(--bi-dark-pink);
}

h2 {
  font-family: var(--font-title);
  font-size: 24px;
  line-height: 32px;
  color: var(--bi-pink);
}

h3 {
  font-family: var(--font-text);
  font-size: 24px;
  line-height: 32px;
  color: var(--bi-dark-pink);
}

.swiper-pagination-fraction, 
.swiper-pagination-custom, 
.swiper-horizontal > .swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 16px !important;
}
.swiper-pagination-bullet {
  opacity: 1 !important;
  background: white !important;
}
.swiper-pagination-bullet-active {
  background: var(--bi-pink) !important;
}

.yarl__button {
  filter: none !important;
}
.yarl__slide_image {
  border-radius: 24px;
}

.masonry-grid {
  display: flex;
  margin-left: -24px; /* Adjust based on gap */
  width: auto;
}

.masonry-grid_column {
  padding-left: 24px; /* Adjust based on gap */
  background-clip: padding-box;
}

.masonry-item {
  margin-bottom: 24px;
}