@use "../../app/styles/mixins.scss" as *;
@use "../../app/styles/variables.scss";

.credits {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
    background-color: white;
    border-bottom: 1px solid var(--light-grey);

    @include md {
        flex-direction: row;
        width: calc(100% - 64px);
    }

    > div {
        width: 100%;

        @include md {
            width: -webkit-fill-available;
        }

        &:first-of-type {
            border-bottom: 1px solid var(--light-grey);

            @include md {
                border-bottom: 0px !important;
                border-right: 1px solid var(--light-grey);
            }
        }
        &:last-of-type {
            border-bottom: 0px !important;

            @include md {
                border-bottom: 0px !important;
                border-right: 0px !important;
            }
        }
    }

    .OfficialPhotos {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        padding: 24px;
        height: fit-content;
    
        .authorImg {
            width: 56px;
            height: 56px;
            display: flex;
            text-align: center;
            align-items: center;
            justify-items: center;
            justify-content: center;
            position: relative;
            border-radius: 50%;
    
            img {
                height: 48px;
                width: 48px;
                object-fit: cover;
                border-radius: 50%;
            }
    
            &:before {
                position: absolute;
                width: 54px;
                height: 54px;
                display: block;
                content: "";
                border-radius: 50%;
                border: 1px solid var(--light-grey);
            }
        }
    
        .AuthorInfo {
            display: flex;
            flex-direction: column;
            gap: 0px;
            align-content: center;
    
            h4 {
                font-size: 16px;
                line-height: 32px;
                font-weight: 400;
    
                span {
                    font-weight: 600;
                }
            }
        }
    }
}