@use "../../app/styles/mixins.scss" as *;
@use "../../app/styles/variables.scss";

.ContactFormContainer {
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding-top: 32px;
    border-top: 1px solid var(--light-grey);

    @include md {
        margin: 0 32px;
    }
}