@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss";

.container {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0px;

    .header {
        width: calc(100% - 64px);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        position: relative;

        background-size: cover;
        background-position: center;
        overflow: hidden;

        aspect-ratio: 2/1;
        height: auto;
        min-height: 440px;
        border-radius: 24px;
        padding: 32px 32px 48px 32px;

        &:before {
            display: block;
            width: 100%;
            height: 100%;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: 
                radial-gradient(320px 320px at 100% 0%, var(--bi-dark-pink) 0%, rgba(255, 49, 148, 0) 100%), 
                radial-gradient(320px 320px at 0% 100%, var(--bi-indigo) 0%, rgba(114, 114, 252, 0) 100%),
                rgba(0,0,0,0.2)
            ;
        }

        .HeaderContent {
            display: flex;
            flex-direction: column;
            gap: 16px;
            position: relative;
            z-index: 2;

            .tag {
                display: flex;
                gap: 8px;
                flex-direction: row;
    
                .date {
                    display: inline-flex;
                    gap: 6px;
                    align-items: center;
                    width: fit-content;
                    padding: 4px 8px;
                    border-radius: 4px;
                    color: white;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: var(--font-size-sm);
                    letter-spacing: 0.5px;
                    background-color: var(--bi-indigo);
                }
    
                .venue {
                    display: inline-flex;
                    gap: 6px;
                    align-items: center;
                    width: fit-content;
                    padding: 4px 8px;
                    border-radius: 4px;
                    color: white;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: var(--font-size-sm);
                    letter-spacing: 0.5px;
                    background-color: var(--bi-pink);
                }
            }
    
            .TitleContainer {
                display: flex;
                flex-direction: column;
                gap: 0;

                h1 {
                    display: inline-block;
                    width: fit-content;
                    font-family: var(--font-title);
                    color: var(--bi-dark-pink);
                    border-radius: 16px 0px 0px 0px;
                    overflow: hidden;
                    margin: 0;
                    max-width: 1000px;
        
                    > span {
                        background-color: var(--white);
                        border-radius: 0px 16px 16px 0px;
                        overflow: hidden;
                        padding: 2px 12px;
        
                        box-decoration-break: clone;
                        -webkit-box-decoration-break: clone;
        
                        @include md {
                            font-size: 32px;
                            line-height: 48px;
                        }
                    }
                }
        
                h2 {
                    display: inline-flex;
                    align-items: center;
                    gap: 8px;
                    border-radius: 0px 0px 0px 16px;
                    overflow: hidden;

                    > span {
                        display: inline-flex;
                        align-items: center;
                        gap: 8px;

                        &:before {
                            width: 64px;
                            height: 2px;
                            background-image: var(--bi-gradient-1);
                            background-size: 200% 100%;
                            background-position: center left;
                            content: "";
                            display: block;
                        }

                        background-color: var(--white);
                        border-radius: 0px 0px 16px 0px;
                        overflow: hidden;
                        padding: 2px 12px;
        
                        box-decoration-break: clone;
                        -webkit-box-decoration-break: clone;
                    }

                }
            }

        }

    }

    .information {
        width: calc(100% - 64px);
        margin: 0 auto 24px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 24px 32px;
        border-bottom: 1px solid var(--light-grey);
        background-color: white;

        .author {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;

            .authorImg {
                width: 56px;
                height: 56px;
                display: flex;
                text-align: center;
                align-items: center;
                justify-items: center;
                justify-content: center;
                position: relative;

                img {
                    height: 48px;
                    width: 48px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                &:before {
                    position: absolute;
                    width: 54px;
                    height: 54px;
                    display: block;
                    content: "";
                    border-radius: 50%;
                    border: 1px solid var(--light-grey);
                }
            }
            
            .authorInfo {
                font-size: 16px;
                color: var(--medium-grey);
                display: flex;
                flex-direction: column;
                gap: 8px;

                .authorName {
                    color: var(--dark-grey);
                }

                .date {
                    font-size: var(--font-size-sm);
                }
            }
        }
    }

    .featuredimage {
        width: 100%;
        height: auto;
        border-radius: 24px;
    }

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
        background-color: white;
    }
}