@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss";

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .header {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 32px 0 24px 0;

        .tag {
            display: flex;
            gap: 8px;
            flex-direction: row;

            .date {
                display: inline-flex;
                gap: 6px;
                align-items: center;
                width: fit-content;
                padding: 4px 8px;
                border-radius: 4px;
                color: white;
                text-transform: uppercase;
                font-weight: bold;
                font-size: var(--font-size-sm);
                letter-spacing: 0.5px;
                background-color: var(--bi-indigo);
            }

            .venue {
                display: inline-flex;
                gap: 6px;
                align-items: center;
                width: fit-content;
                padding: 4px 8px;
                border-radius: 4px;
                color: var(--dark-grey);
                text-transform: uppercase;
                font-weight: bold;
                font-size: var(--font-size-sm);
                letter-spacing: 0.5px;
                background-color: var(--light-grey);
            }
        }

        h1 {
            margin-top: 8px;
        }

        h2 {
            display: inline-flex;
            align-items: center;
            gap: 8px;

            &:before {
                width: 64px;
                height: 2px;
                background-image: var(--bi-gradient-1);
                background-size: 200% 100%;
                background-position: center left;
                content: "";
                display: block;
            }
        }

        .information {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 24px;
            margin-top: 16px;
            border-top: 1px solid var(--light-grey);

            .author {
                display: flex;
                flex-direction: row;
                gap: 16px;
                align-items: center;

                .authorImg {
                    width: 56px;
                    height: 56px;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-items: center;
                    justify-content: center;
                    position: relative;

                    img {
                        height: 48px;
                        width: 48px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    &:before {
                        position: absolute;
                        width: 54px;
                        height: 54px;
                        display: block;
                        content: "";
                        border-radius: 50%;
                        border: 1px solid var(--light-grey);
                    }
                }
                
                .authorInfo {
                    font-size: 16px;
                    color: var(--medium-grey);
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .authorName {
                        color: var(--dark-grey);
                    }

                    .date {
                        font-size: var(--font-size-sm);
                    }
                }
            }
        }
    }

    .featuredimage {
        width: 100%;
        height: auto;
        border-radius: 24px;
    }

    .content{
        width: 100%;
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}