/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[12].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src/app/layout.js","import":"DM_Sans","arguments":[{"subsets":["latin"]}],"variableName":"DMSans"} ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* latin-ext */
@font-face {
  font-family: '__DM_Sans_05e5f9';
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url(/_next/static/media/56d4c7a1c09c3371-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__DM_Sans_05e5f9';
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url(/_next/static/media/7e6a2e30184bb114-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__DM_Sans_Fallback_05e5f9';src: local("Arial");ascent-override: 94.37%;descent-override: 29.49%;line-gap-override: 0.00%;size-adjust: 105.12%
}.__className_05e5f9 {font-family: '__DM_Sans_05e5f9', '__DM_Sans_Fallback_05e5f9';font-style: normal
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/components/Menu.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Menu_menuContent__b2cWS {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: -webkit-fill-available;
  justify-content: center;
}
@media (min-width: 768px) {
  .Menu_menuContent__b2cWS {
    flex-direction: row;
    gap: 24px;
    width: auto;
  }
}
.Menu_menuContent__b2cWS li a {
  color: var(--white);
  font-family: var(--font-title);
  font-size: var(--font-size-xl);
  line-height: 56px;
  letter-spacing: 0.5px;
  padding: 4px 0;
  transition: var(--transi);
  text-decoration: none;
}
@media (min-width: 768px) {
  .Menu_menuContent__b2cWS li a {
    font-family: var(--font-text);
    color: var(--bi-dark-pink);
    font-size: var(--font-size-md);
    line-height: 24px;
    letter-spacing: 0.32px;
    font-weight: 600;
  }
}
.Menu_menuContent__b2cWS li a:hover {
  transform: scaleX(100%) !important;
}
.Menu_menuContent__b2cWS li a::after {
  display: block;
  height: 2px;
  background-color: var(--bi-dark-pink);
  content: " ";
  position: relative;
  top: 4px;
  width: 100%;
  transition: var(--transi);
  transform-origin: left;
  transform: scaleX(0%);
}
.Menu_menuContent__b2cWS li a:hover::after {
  transform: scaleX(100%) !important;
}
.Menu_menuContent__b2cWS li a.Menu_active__dcugD::after {
  transform: scaleX(100%) !important;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/components/navbar.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.navbar_menu__n4h96 {
  position: absolute;
  z-index: 99 !important;
  text-align: center;
  width: -webkit-fill-available;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
@media (min-width: 768px) {
  .navbar_menu__n4h96 {
    position: relative;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: var(--white);
  }
}
.navbar_menu__n4h96 .navbar_logo__uf6Cx {
  margin: 16px 0;
  position: fixed;
  top: 0;
  z-index: 999 !important;
}
@media (min-width: 768px) {
  .navbar_menu__n4h96 .navbar_logo__uf6Cx {
    position: relative;
    margin: 24px 0;
  }
}
.navbar_menu__n4h96 .navbar_logo__uf6Cx .navbar_desktop__qKJhQ {
  display: none;
}
@media (min-width: 768px) {
  .navbar_menu__n4h96 .navbar_logo__uf6Cx .navbar_desktop__qKJhQ {
    display: initial;
  }
}
@media (min-width: 768px) {
  .navbar_menu__n4h96 .navbar_logo__uf6Cx .navbar_mobile__JAlHa {
    display: none;
  }
}
.navbar_menu__n4h96 .navbar_navbar__oAVrm {
  display: none;
  gap: 32px;
  position: relative;
  top: -40px;
}
@media (min-width: 768px) {
  .navbar_menu__n4h96 .navbar_navbar__oAVrm {
    display: flex;
  }
}

.navbar_mobilebutton__U2DK_ {
  background: transparent;
  color: white;
  border: 0;
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 99;
  font-size: 24px;
  z-index: 999 !important;
}
@media (min-width: 768px) {
  .navbar_mobilebutton__U2DK_ {
    display: none;
  }
}

.navbar_mobilemenu__YStSE {
  position: fixed;
  top: 0;
  z-index: 998 !important;
  width: 100%;
  height: 100vh;
  padding: 32px;
  color: var(--white);
  background: radial-gradient(50% 100% at 0% 0%, rgba(255, 49, 148, 0.8) 0%, rgba(51, 51, 51, 0) 100%), radial-gradient(50% 100% at 100% 100%, rgba(114, 114, 252, 0.8) 0%, rgba(51, 51, 51, 0) 100%), rgba(51, 51, 51, 0.8);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  overflow: hidden;
}
.navbar_mobilemenu__YStSE .navbar_navbar__oAVrm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto;
  grid-gap: 40px;
  width: 100%;
  height: 75vh;
  justify-content: space-between;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
:root {
  --font-jp: "Noto Sans JP";
  --font-text: "DM Sans", var(--font-jp), Helvetica, Arial, sans-serif;
  --font-title: "Poppins", var(--font-jp), Helvetica, Arial, sans-serif;

  --bi-dark-pink: #FF3194;
  --bi-pink: #FF61A9;
  --bi-light-pink: #FC8DC5;
  --bi-indigo: #7272FC;
  --dark-grey: #333;
  --medium-grey: #898989;
  --light-grey: #f4f4f4;
  --white: #ffffff;

  --bi-gradient-1: linear-gradient(to right, var(--bi-dark-pink), var(--bi-light-pink), var(--bi-dark-pink));
  --bi-gradient-2: linear-gradient(45deg, var(--bi-dark-pink), var(--bi-indigo));

  --transi: all 0.3s ease;

  --font-size-4xl: 48px;
  --font-size-3xl: 40px;
  --font-size-2xl: 32px;
  --font-size-xl: 24px;
  --font-size-lg: 20px;
  --font-size-md: 16px;
  --font-size: 14px;
  --font-size-sm: 12px;
  --font-size-xs: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::selection {
  color: white;
  background-color: var(--bi-pink);
}

html, body {
  font-family: var(--font-text);
  font-size: var(--font-size);
  background-color: white;
  color: var(--dark-grey);
}

.overflowHidden {
  overflow: hidden !important;
}

.global {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  margin: auto;
}

h1 {
  font-family: var(--font-title);
  font-size: 32px;
  line-height: 40px;
  color: var(--bi-dark-pink);
}

h2 {
  font-family: var(--font-title);
  font-size: 24px;
  line-height: 32px;
  color: var(--bi-pink);
}

h3 {
  font-family: var(--font-text);
  font-size: 24px;
  line-height: 32px;
  color: var(--bi-dark-pink);
}

.swiper-pagination-fraction, 
.swiper-pagination-custom, 
.swiper-horizontal > .swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 16px !important;
}
.swiper-pagination-bullet {
  opacity: 1 !important;
  background: white !important;
}
.swiper-pagination-bullet-active {
  background: var(--bi-pink) !important;
}
