/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/page.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_homeBackground__t_g2q {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: var(--bi-gradient-2);
  position: absolute;
  top: 0;
}
.page_homeBackground__t_g2q img {
  width: 115%;
  height: 115%;
  object-fit: cover;
  opacity: 0.3;
}

.page_main__akH3E {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  /* ------ TITLES STYLES ------ */
  /* ------ BUTTONS STYLES ------ */
}
.page_main__akH3E h2 {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 16px;
  align-items: center;
  width: 100%;
}
.page_main__akH3E h2 > span {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--font-title);
  font-size: var(--font-size-xl);
  color: var(--dark-grey);
  line-height: 32px;
}
.page_main__akH3E h2:after {
  display: block;
  height: 2px;
  width: 100%;
  content: " ";
  background-image: var(--bi-gradient-2);
}
.page_main__akH3E .page_container__LLik5 {
  position: relative;
  z-index: 2;
}
.page_main__akH3E a {
  text-decoration: none !important;
}
.page_main__akH3E a .page_btn__8GLw4 {
  border: none;
  border-radius: 16px;
  font-family: var(--font-text);
  font-weight: bold;
  font-size: var(--font-size);
  line-height: 1.5;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  transition: var(--transi);
}
.page_main__akH3E a .page_btn__8GLw4.page_mainPink__U3Ht3 {
  color: var(--white);
  background-image: var(--bi-gradient-1);
  background-position: center right;
  background-size: 200% 100%;
}
.page_main__akH3E a .page_btn__8GLw4.page_mainPink__U3Ht3:hover {
  background-position: center left;
}
.page_main__akH3E a .page_btn__8GLw4 > span {
  text-decoration: none !important;
}

.page_description___d9FL {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
.page_description___d9FL a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.page_description___d9FL p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/components/navbar.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.navbar_menu__n4h96 {
  position: fixed;
  z-index: 99 !important;
  text-align: center;
  width: -webkit-fill-available;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 32px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 48px;
}
.navbar_menu__n4h96 .navbar_logo__uf6Cx {
  margin: 24px 0;
}
.navbar_menu__n4h96 nav .navbar_navbar-menu__uqvUX {
  display: flex;
  gap: 32px;
  position: relative;
  top: -40px;
}
.navbar_menu__n4h96 nav .navbar_navbar-menu__uqvUX a.navbar_navbar-item__cmGX2 {
  color: var(--white);
  font-weight: bold;
  font-size: var(--font-size);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 4px 0;
  transition: var(--transi);
}
.navbar_menu__n4h96 nav .navbar_navbar-menu__uqvUX a.navbar_navbar-item__cmGX2:after, .navbar_menu__n4h96 nav .navbar_navbar-menu__uqvUX a.navbar_navbar-item__cmGX2.navbar_active__uBR_B:after {
  display: block;
  height: 2px;
  background-color: var(--white);
  content: " ";
  position: relative;
  top: 4px;
  width: 100%;
  transition: var(--transi);
  transform: scaleX(0%);
  transform-origin: left;
}
.navbar_menu__n4h96 nav .navbar_navbar-menu__uqvUX a.navbar_navbar-item__cmGX2:hover:after, .navbar_menu__n4h96 nav .navbar_navbar-menu__uqvUX a.navbar_navbar-item__cmGX2.navbar_active__uBR_B:after {
  transform: scaleX(100%) !important;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/components/LatestPosts.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.LatestPosts_LatestPosts__Q3gRZ {
  width: 414px;
  margin: 0 auto;
  position: relative;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy {
  position: relative;
  z-index: 2;
  top: -44px;
  padding: 24px 24px;
  background-color: var(--white);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy h2 {
  margin: 0;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy .LatestPosts_btn__g0Dy2 > button {
  width: 100%;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc {
  cursor: pointer;
  color: var(--dark-gray);
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 33% auto;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc .LatestPosts_FeaturedImage__45MTJ {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 16px;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc .LatestPosts_FeaturedImage__45MTJ > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  text-align: left;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD .LatestPosts_Tags__KHipf {
  display: flex;
  gap: 8px;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD .LatestPosts_Tags__KHipf > .LatestPosts_Tag__nFBjA {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--font-size-sm);
  letter-spacing: 0.5px;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD .LatestPosts_Tags__KHipf > .LatestPosts_Tag__nFBjA:nth-child(odd) {
  background-color: var(--bi-indigo);
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD .LatestPosts_Tags__KHipf > .LatestPosts_Tag__nFBjA:nth-child(even) {
  background-color: var(--bi-dark-pink);
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD .LatestPosts_Tags__KHipf > .LatestPosts_Tag__nFBjA:empty {
  display: none;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD > h3 {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: var(--dark-gray);
  transition: var(--transi);
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD > h3 > .LatestPosts_icon__2hFLB {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD > h3 > .LatestPosts_icon__2hFLB > svg {
  position: relative;
  top: 2px;
  left: -24px;
  opacity: 0;
  transition: var(--transi);
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc:hover h3 {
  color: var(--bi-dark-pink);
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc:hover h3 > .LatestPosts_icon__2hFLB svg {
  left: 0px;
  opacity: 1;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/components/IconButton.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.IconButton_Main__dL8Bn {
  border: none;
  border-radius: 16px;
  font-family: var(--font-text);
  font-weight: 500;
  font-size: var(--font-size);
  line-height: 1.5;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  transition: var(--transi);
}
.IconButton_Main__dL8Bn > span {
  text-decoration: none !important;
}

.IconButton_Pink__NuvuA {
  color: var(--white);
  background-image: var(--bi-gradient-1);
  background-position: center right;
  background-size: 200% 100%;
}
.IconButton_Pink__NuvuA:hover {
  background-position: center left;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/components/HeroPost.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.HeroPost_Hero__rikiH {
  width: 414px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
}
.HeroPost_Hero__rikiH .HeroPost_FeaturedImage__f2TVW {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-image: var(--bi-gradient-2);
}
.HeroPost_Hero__rikiH .HeroPost_FeaturedImage__f2TVW > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  gap: 16px !important;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-end;
  color: white;
  text-align: left;
  padding: 32px 24px 72px 24px;
}
.HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ .HeroPost_Tags__Ttfno {
  display: flex;
  gap: 8px;
}
.HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ .HeroPost_Tags__Ttfno > .HeroPost_Tag__u2EB_ {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--font-size-sm);
  letter-spacing: 0.5px;
}
.HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ .HeroPost_Tags__Ttfno > .HeroPost_Tag__u2EB_:nth-child(odd) {
  background-color: var(--bi-indigo);
}
.HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ .HeroPost_Tags__Ttfno > .HeroPost_Tag__u2EB_:nth-child(even) {
  background-color: var(--bi-dark-pink);
}
.HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ > h1 {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--font-title);
  color: var(--bi-dark-pink);
  border-radius: 16px 0px 0px 16px;
  overflow: hidden;
  margin: 0;
}
.HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ > h1 > span {
  background-color: var(--white);
  border-radius: 0px 16px 16px 0px;
  overflow: hidden;
  padding: 2px 12px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/articles/[uid]/page.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
article .page_content__6AVtH .page_textblock__QdUlN {
  margin: 24px 0;
}
