/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/page.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_homeBackground__t_g2q {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: var(--bi-gradient-2);
  position: absolute;
  top: 0;
}
.page_homeBackground__t_g2q img {
  width: 115%;
  height: 115%;
  object-fit: cover;
  opacity: 0.3;
}

.page_main__akH3E {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  /* ------ TITLES STYLES ------ */
  /* ------ BUTTONS STYLES ------ */
}
.page_main__akH3E h2 {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 16px;
  align-items: center;
  width: 100%;
}
.page_main__akH3E h2 > span {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--font-title);
  font-size: var(--font-size-xl);
  color: var(--dark-grey);
  line-height: 32px;
}
.page_main__akH3E h2:after {
  display: block;
  height: 2px;
  width: 100%;
  content: " ";
  background-image: var(--bi-gradient-2);
}
.page_main__akH3E a {
  text-decoration: none !important;
}
.page_main__akH3E a .page_btn__8GLw4 {
  border: none;
  border-radius: 16px;
  font-family: var(--font-text);
  font-weight: bold;
  font-size: var(--font-size);
  line-height: 1.5;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  transition: var(--transi);
}
.page_main__akH3E a .page_btn__8GLw4.page_mainPink__U3Ht3 {
  color: var(--white);
  background-image: var(--bi-gradient-1);
  background-position: center right;
  background-size: 200% 100%;
}
.page_main__akH3E a .page_btn__8GLw4.page_mainPink__U3Ht3:hover {
  background-position: center left;
}
.page_main__akH3E a .page_btn__8GLw4 > span {
  text-decoration: none !important;
}

.page_description___d9FL {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
.page_description___d9FL a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.page_description___d9FL p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/components/navbar.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.navbar_menu__n4h96 {
  position: relative;
  z-index: 99 !important;
  text-align: center;
  width: -webkit-fill-available;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 32px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 48px;
}
.navbar_menu__n4h96 .navbar_logo__uf6Cx {
  margin: 24px 0;
}
.navbar_menu__n4h96 nav .navbar_navbar-menu__uqvUX {
  display: flex;
  gap: 32px;
  position: relative;
  top: -40px;
}
.navbar_menu__n4h96 nav .navbar_navbar-menu__uqvUX a.navbar_navbar-item__cmGX2 {
  color: var(--white);
  font-weight: bold;
  font-size: var(--font-size);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 4px 0;
  transition: var(--transi);
}
.navbar_menu__n4h96 nav .navbar_navbar-menu__uqvUX a.navbar_navbar-item__cmGX2:after, .navbar_menu__n4h96 nav .navbar_navbar-menu__uqvUX a.navbar_navbar-item__cmGX2.navbar_active__uBR_B:after {
  display: block;
  height: 2px;
  background-color: var(--white);
  content: " ";
  position: relative;
  top: 4px;
  width: 100%;
  transition: var(--transi);
  transform: scaleX(0%);
  transform-origin: left;
}
.navbar_menu__n4h96 nav .navbar_navbar-menu__uqvUX a.navbar_navbar-item__cmGX2:hover:after, .navbar_menu__n4h96 nav .navbar_navbar-menu__uqvUX a.navbar_navbar-item__cmGX2.navbar_active__uBR_B:after {
  transform: scaleX(100%) !important;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/components/IconButton.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.IconButton_Main__dL8Bn {
  border: none;
  border-radius: 16px;
  font-family: var(--font-text);
  font-weight: 500;
  font-size: var(--font-size);
  line-height: 1.5;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  transition: var(--transi);
}
.IconButton_Main__dL8Bn > span {
  text-decoration: none !important;
}

.IconButton_Pink__NuvuA {
  color: var(--white);
  background-image: var(--bi-gradient-1);
  background-position: center right;
  background-size: 200% 100%;
}
.IconButton_Pink__NuvuA:hover {
  background-position: center left;
}
