/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/components/Menu.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Menu_menuContent__b2cWS {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: -webkit-fill-available;
  justify-content: center;
}
@media (min-width: 1024px) {
  .Menu_menuContent__b2cWS {
    flex-direction: row;
    gap: 24px;
    width: auto;
  }
}
.Menu_menuContent__b2cWS li a {
  color: var(--white);
  font-family: var(--font-title);
  font-size: var(--font-size-xl);
  line-height: 56px;
  letter-spacing: 0.5px;
  padding: 4px 0;
  transition: var(--transi);
  text-decoration: none;
}
@media (min-width: 1024px) {
  .Menu_menuContent__b2cWS li a {
    font-family: var(--font-text);
    color: var(--bi-dark-pink);
    font-size: var(--font-size-md);
    line-height: 24px;
    letter-spacing: 0.32px;
    font-weight: 600;
  }
}
.Menu_menuContent__b2cWS li a:hover {
  transform: scaleX(100%) !important;
}
.Menu_menuContent__b2cWS li a::after {
  display: block;
  height: 2px;
  background-color: var(--bi-dark-pink);
  content: " ";
  position: relative;
  top: 4px;
  width: 100%;
  transition: var(--transi);
  transform-origin: left;
  transform: scaleX(0%);
}
.Menu_menuContent__b2cWS li a:hover::after {
  transform: scaleX(100%) !important;
}
.Menu_menuContent__b2cWS li a.Menu_active__dcugD::after {
  transform: scaleX(100%) !important;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/components/navbar.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.navbar_menu__n4h96 {
  position: absolute;
  z-index: 99 !important;
  text-align: center;
  width: -webkit-fill-available;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
@media (min-width: 1024px) {
  .navbar_menu__n4h96 {
    position: relative;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: var(--white);
  }
}
.navbar_menu__n4h96 .navbar_logo__uf6Cx {
  margin: 16px 0;
  position: fixed;
  top: 0;
  z-index: 999 !important;
}
@media (min-width: 1024px) {
  .navbar_menu__n4h96 .navbar_logo__uf6Cx {
    position: relative;
    margin: 24px 0;
  }
}
.navbar_menu__n4h96 .navbar_logo__uf6Cx .navbar_desktop__qKJhQ {
  display: none;
}
@media (min-width: 1024px) {
  .navbar_menu__n4h96 .navbar_logo__uf6Cx .navbar_desktop__qKJhQ {
    display: initial;
  }
}
@media (min-width: 1024px) {
  .navbar_menu__n4h96 .navbar_logo__uf6Cx .navbar_mobile__JAlHa {
    display: none;
  }
}
.navbar_menu__n4h96 .navbar_navbar__oAVrm {
  display: none;
  gap: 32px;
  position: relative;
  top: -40px;
}
@media (min-width: 1024px) {
  .navbar_menu__n4h96 .navbar_navbar__oAVrm {
    display: flex;
  }
}

.navbar_mobilebutton__U2DK_ {
  background: transparent;
  color: white;
  border: 0;
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 99;
  font-size: 24px;
  z-index: 999 !important;
}
@media (min-width: 1024px) {
  .navbar_mobilebutton__U2DK_ {
    display: none;
  }
}

.navbar_mobilemenu__YStSE {
  position: fixed;
  top: 0;
  z-index: 998 !important;
  width: 100%;
  height: 100vh;
  padding: 32px;
  color: var(--white);
  background: radial-gradient(50% 100% at 0% 0%, rgba(255, 49, 148, 0.8) 0%, rgba(51, 51, 51, 0) 100%), radial-gradient(50% 100% at 100% 100%, rgba(114, 114, 252, 0.8) 0%, rgba(51, 51, 51, 0) 100%), rgba(51, 51, 51, 0.8);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  overflow: hidden;
}
.navbar_mobilemenu__YStSE .navbar_navbar__oAVrm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto;
  grid-gap: 40px;
  width: 100%;
  height: 75vh;
  justify-content: space-between;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/page.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_main__akH3E {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--white);
  border-radius: 0 0 24px 24px;
  /* ------ TITLES STYLES ------ */
  /* ------ BUTTONS STYLES ------ */
}
@media (min-width: 1024px) {
  .page_main__akH3E {
    padding: 0 32px;
  }
}
.page_main__akH3E h2 {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 16px;
  align-items: center;
  width: 100%;
}
.page_main__akH3E h2 > span {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--font-title);
  font-size: var(--font-size-xl);
  color: var(--dark-grey);
  line-height: 32px;
}
.page_main__akH3E h2:after {
  display: block;
  height: 2px;
  width: 100%;
  content: " ";
  background-image: var(--bi-gradient-2);
}
.page_main__akH3E .page_container__LLik5 {
  position: relative;
  z-index: 2;
}
.page_main__akH3E a {
  text-decoration: none !important;
}
.page_main__akH3E a .page_btn__8GLw4 {
  border: none;
  border-radius: 16px;
  font-family: var(--font-text);
  font-weight: bold;
  font-size: var(--font-size);
  line-height: 1.5;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  transition: var(--transi);
}
.page_main__akH3E a .page_btn__8GLw4.page_mainPink__U3Ht3 {
  color: var(--white);
  background-image: var(--bi-gradient-1);
  background-position: center right;
  background-size: 200% 100%;
}
.page_main__akH3E a .page_btn__8GLw4.page_mainPink__U3Ht3:hover {
  background-position: center left;
}
.page_main__akH3E a .page_btn__8GLw4 > span {
  text-decoration: none !important;
}

.page_description___d9FL {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
.page_description___d9FL a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.page_description___d9FL p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/articles/[uid]/page.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
article .page_content__6AVtH .page_textblock__QdUlN {
  margin: 24px 0;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./slices/RichText/RichText.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.RichText_repeatable__O6Zc8 {
  margin: 32px 0;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./slices/Gallery/Gallery.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/components/IconButton.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.IconButton_Main__dL8Bn {
  border: none;
  border-radius: 16px;
  font-family: var(--font-text);
  font-weight: 500;
  font-size: var(--font-size);
  line-height: 1.5;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  transition: var(--transi);
}
.IconButton_Main__dL8Bn > span {
  text-decoration: none !important;
}

.IconButton_Pink__NuvuA {
  color: var(--white);
  background-image: var(--bi-gradient-1);
  background-position: center right;
  background-size: 200% 100%;
}
.IconButton_Pink__NuvuA:hover {
  background-position: center left;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/components/HeroPost.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.HeroPost_Hero__rikiH {
  width: 100%;
  height: 75vh;
  margin: 0 auto;
  position: fixed;
  top: 0;
  border-radius: 0;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .HeroPost_Hero__rikiH {
    height: 100%;
    border-radius: 24px;
  }
}
.HeroPost_Hero__rikiH .HeroPost_FeaturedImage__f2TVW {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: var(--dark-grey);
}
.HeroPost_Hero__rikiH .HeroPost_FeaturedImage__f2TVW > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  transform: scale(100%);
  transition: all ease 0.3s;
}
.HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  gap: 16px !important;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-end;
  color: white;
  text-align: left;
  padding: 32px 24px 72px 24px;
  background: radial-gradient(320px 320px at 100% 0%, var(--bi-dark-pink) 0%, rgba(255, 49, 148, 0) 100%), radial-gradient(320px 320px at 0% 100%, var(--bi-indigo) 0%, rgba(114, 114, 252, 0) 100%);
}
@media (min-width: 1024px) {
  .HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ {
    padding: 32px 24px;
  }
}
.HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ .HeroPost_Tags__Ttfno {
  display: flex;
  gap: 8px;
}
.HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ .HeroPost_Tags__Ttfno > .HeroPost_Tag__u2EB_ {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--font-size-sm);
  letter-spacing: 0.5px;
}
.HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ .HeroPost_Tags__Ttfno > .HeroPost_Tag__u2EB_:nth-child(odd) {
  background-color: var(--bi-indigo);
}
.HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ .HeroPost_Tags__Ttfno > .HeroPost_Tag__u2EB_:nth-child(even) {
  background-color: var(--bi-dark-pink);
}
.HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ > h1 {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--font-title);
  color: var(--bi-dark-pink);
  border-radius: 16px 0px 0px 16px;
  overflow: hidden;
  margin: 0;
  max-width: 720px;
}
.HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ > h1 > span {
  background-color: var(--white);
  border-radius: 0px 16px 16px 0px;
  overflow: hidden;
  padding: 2px 12px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
@media (min-width: 1024px) {
  .HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ > h1 > span {
    font-size: 32px;
    line-height: 48px;
  }
}
.HeroPost_Hero__rikiH .HeroPost_Content__JA6gJ button {
  width: -moz-fit-content;
  width: fit-content;
}
.HeroPost_Hero__rikiH:hover .HeroPost_FeaturedImage__f2TVW > img {
  transform: scale(105%);
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/components/LatestPosts.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.LatestPosts_LatestPosts__Q3gRZ {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 1024px) {
  .LatestPosts_LatestPosts__Q3gRZ {
    display: grid;
    grid-template-columns: auto minmax(320px, 33%);
    grid-gap: 24px;
  }
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy {
  position: relative;
  top: 70vh;
  z-index: 2;
  padding: 24px 24px;
  background-color: var(--white);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 1024px) {
  .LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy {
    background-color: var(--light-grey);
    top: 0;
  }
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy h2 {
  margin: 0;
}
@media (min-width: 1024px) {
  .LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy h2 span {
    font-size: 32px;
    line-height: 48px;
  }
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy .LatestPosts_btn__g0Dy2 > button {
  width: 100%;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc {
  cursor: pointer;
  color: var(--dark-gray);
  display: grid;
  grid-gap: 16px;
  grid-template-columns: minmax(0%, 112px) auto;
}
@media (min-width: 1024px) {
  .LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc {
    grid-template-columns: 33% auto;
  }
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc .LatestPosts_FeaturedImage__45MTJ {
  width: 100%;
  max-width: 112px;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 16px;
}
@media (min-width: 1024px) {
  .LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc .LatestPosts_FeaturedImage__45MTJ {
    max-width: unset;
  }
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc .LatestPosts_FeaturedImage__45MTJ > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(100%);
  transition: all ease 0.3s;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  text-align: left;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD .LatestPosts_Tags__KHipf {
  display: flex;
  gap: 8px;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD .LatestPosts_Tags__KHipf > .LatestPosts_Tag__nFBjA {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--font-size-sm);
  letter-spacing: 0.5px;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD .LatestPosts_Tags__KHipf > .LatestPosts_Tag__nFBjA:nth-child(odd) {
  background-color: var(--bi-indigo);
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD .LatestPosts_Tags__KHipf > .LatestPosts_Tag__nFBjA:nth-child(even) {
  background-color: var(--bi-dark-pink);
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD .LatestPosts_Tags__KHipf > .LatestPosts_Tag__nFBjA:empty {
  display: none;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD > h3 {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: var(--dark-gray);
  transition: var(--transi);
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD > h3 > .LatestPosts_icon__2hFLB {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc > .LatestPosts_Content__g93uD > h3 > .LatestPosts_icon__2hFLB > svg {
  position: relative;
  top: 2px;
  left: -24px;
  opacity: 0;
  transition: var(--transi);
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc:hover .LatestPosts_FeaturedImage__45MTJ > img {
  transform: scale(105%);
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc:hover h3 {
  color: var(--bi-dark-pink);
}
.LatestPosts_LatestPosts__Q3gRZ > .LatestPosts_OtherPosts__RGIRy > a.LatestPosts_OtherPost__rA4Zc:hover h3 > .LatestPosts_icon__2hFLB svg {
  left: 0px;
  opacity: 1;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/app/styles/mixins.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

