@use "../styles/mixins.scss" as *;
@use "../styles/variables.scss";

.SearchPage {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 500px;
    
    @include md {
        padding: 32px 0px;
        gap: 32px;
    }

    > h1 {
        padding: 0 24px;

        @include md {
            padding: 0 32px;
        }
    }
     
    > p {
        font-size: 16px;
        line-height: 28px;
        padding: 0 24px;

        @include md {
            padding: 0 32px;
        }
    }

    .SearchResults {
        display: flex;
        flex-direction: row;
        gap: 32px;
        width: calc(100% - 48px);
        margin: auto;

        @include md {
            width: calc(100% - 64px);
        }

        p {
            width: 100%;
        }

        .DocList {
            > div {
                padding: 0 !important;
            }
        }
    }
}